<nav class="navbar navbar-dark bg-main">
  <!-- <a class="navbar-brand" href="/">
    <img class="d-inline-block align-top logo test" height="150" src="../assets/img/LOGOOFICIALOFICIAL.png">
  </a> -->
  <div class="navbar-expand items mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">{{"HEADER.HOME"| translate}}</a>
      <a class="nav-item nav-link" (click)="goTo('about-us')">{{"HEADER.ABOUT"| translate}}</a>
      <a class="nav-item nav-link" (click)="goTo('footer')">{{"HEADER.CONTACT"| translate}}</a>
      <a class="nav-item nav-link" (click)="openModal()">Inscribete</a>
    </div>
  </div>
  <!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="!isLoggedIn()" class="nav-item nav-link" href="/login">
        {{"HEADER.LOGIN"| translate}}
      </a>
      <div *ngIf="isLoggedIn()" (click)="logout()" class="nav-item nav-link">
        {{"HEADER.LOGOUT"| translate}}
      </div>

    </div>
  </div> -->
</nav>

