<nav class="navbar navbar-dark bg-main">
  <div class="d-none d-sm-block navbar-expand items mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="goTo('home')">{{"HEADER.HOME"| translate}}</a>
      <a class="nav-item nav-link" (click)="goTo('categories')">Modalidades</a>
      <a class="nav-item nav-link" (click)="goTo('about-us')">{{"HEADER.ABOUT"| translate}}</a>
      <a class="nav-item nav-link" (click)="goTo('footer')">{{"HEADER.CONTACT"| translate}}</a>
      <a class="nav-item nav-link" (click)="openModal()">Inscribete</a>
    </div>
  </div>
  <div class="d-block d-sm-none navbar-expand items mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="openModal()">Inscribete</a>
    </div>
  </div>
  <div class="d-block d-sm-none navbar-expand items ml-auto">
    <div class="navbar-nav">
        <button clas="menu-icon" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
    </div>
  </div>
  <mat-menu #appMenu="matMenu">
      <button (click)="goTo('home')" mat-menu-item>{{"HEADER.HOME"| translate}}</button>
      <button (click)="goTo('categories')" mat-menu-item>Modalidades</button>
      <button (click)="goTo('about-us')" mat-menu-item>{{"HEADER.ABOUT"| translate}}</button>
      <button (click)="goTo('footer')" mat-menu-item>{{"HEADER.CONTACT"| translate}}</button>
      <button (click)="openModal()" mat-menu-item>Inscribete</button>
    </mat-menu>
    
    
</nav>

