<nav class="navbar navbar-dark bg-main">
  <a class="navbar-brand" href="/">OnSkates</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">{{"HEADER.HOME"| translate}}</a>
      <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active">{{"HEADER.ABOUT"| translate}}</a>
      <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active">{{"HEADER.CONTACT"| translate}}</a>
    </div>
  </div>
  <!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="!isLoggedIn()" class="nav-item nav-link" href="/login">
        {{"HEADER.LOGIN"| translate}}
      </a>
      <div *ngIf="isLoggedIn()" (click)="logout()" class="nav-item nav-link">
        {{"HEADER.LOGOUT"| translate}}
      </div>

    </div>
  </div> -->
</nav>
