@import "../../../../assets/styles/colors.scss";
.bg-main{
  // background-image: linear-gradient(#f8f9fa00, #6ec9d552), url("../../../../assets/img/random_grey_variations.png");
  height: 100%;
  background-color: white;
  border-bottom: solid #6dc9d5;
  color: #0498b1;
}
:host {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  height: 60px;
}
.navbar-expand{
  margin-left: 150px;
}
button.mat-icon-button {
  background-color: #138ca1;
  border-radius: 10px;
}