<section class="col p-3">
  <div class="rounded border p-3 bg-white h-100">
    <h3>Miriam Fatmi</h3>
    <div>
      <p>
        Competidora de Freestyle a nivel nacional e internacional. Miri ha formado parte de la Selección
        Española de
        Freestyle en 2015 y 2016. Además, forma parte de la actual selección española de Freestyle que nos
        representará en los WRG de Barcelona 2019.
      </p>
      <ul class="no-deco">
        <li>Actual subcampeona de España de Classic y Battle.</li>
        <li> 3 veces Campeona de España de Speed slalom</li>
        <li> 2 veces Campeona de España classic</li>
        <li> 4 Subcampeona de España Battle</li>
      </ul>
      <ul class="no-deco">
        <li>Pedagogía por la UNED</li>
        <li> Entrenadora nacional de Freestyle Slalom</li>
        <li> Jueza Nacional de Freestyle Slalom</li>
        <li> Monitora de Ocio y Tiempo libre por la Comunidad de Madrid.</li>
        <li> Cursando Doble Grado de Educación Infantil y Primaria en la UAM</li>
      </ul>
    </div>
  </div>
</section>