<div class="wrapper py-4">

    <h4 id="about-us" class="text-light">¿Quienes somos?</h4>
    <div class="d-flex row no-gutters px-3 justify-content-around text-justify">
        <mat-card class="col-sm-10 col-md-5 col-lg-3 p-2 m-2">
            <mat-card-header>
                <div mat-card-avatar class="miri-header-image"></div>
                <mat-card-title>Miriam Fatmi</mat-card-title>
                <mat-card-subtitle>Entrenadora</mat-card-subtitle>
            </mat-card-header>
            <div class="flip-box">
                <div class="flip-box-inner mx-auto">
                    <div class="flip-box-front">
                        <img width="100%" src="./../../../assets/img/insta-size-miri.JPG">
                    </div>
                    <div class="flip-box-back">
                        <img height="100%" src="./../../../assets/img/MIRI_avatar.png">
                    </div>
                </div>
            </div>
            <mat-card-content>
                <p>
                    Competidora de Freestyle a nivel nacional e internacional. Miri ha formado parte de la Selección
                    Española de Freestyle en 2015, 2016 y 2019. 7ª del Mundo 2019 en la modalidad de classic.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-card class="col-sm-10 col-md-5 col-lg-3 p-2 m-2">
            <mat-card-header>
                <div mat-card-avatar class="mire-header-image"></div>
                <mat-card-title>Mireia Bañuls</mat-card-title>
                <mat-card-subtitle>Entrenadora</mat-card-subtitle>
            </mat-card-header>
            <div class="flip-box">
                <div class="flip-box-inner mx-auto">
                    <div class="flip-box-front">
                        <img width="100%" src="./../../../assets/img/insta-size-mire.JPG">
                    </div>
                    <div class="flip-box-back">
                        <img height="100%" src="./../../../assets/img/MIRE_avatar.png">
                    </div>
                </div>
            </div>
            <mat-card-content>
                <p>
                    Competidora a nivel nacional e internacional en freestyle, pero además, compite en Show, una de las
                    disciplinas del patinaje artístico. Cabe destacar que este año ha batido el récord de España de la
                    modalidad
                    de Speed slalom.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-card class="col-sm-10 col-md-5 col-lg-3 p-2 m-2">
            <mat-card-header>
                <div mat-card-avatar class="sara-header-image"></div>
                <mat-card-title>Sara García</mat-card-title>
                <mat-card-subtitle>Fisioterapeuta</mat-card-subtitle>
            </mat-card-header>
            <div class="flip-box">
                <div class="flip-box-inner mx-auto">
                    <div class="flip-box-front">
                        <img width="100%" src="./../../../assets/img/insta-size-sara.JPG">
                    </div>
                    <div class="flip-box-back">
                        <img height="100%" src="./../../../assets/img/SARA_avatar.png">
                    </div>
                </div>
            </div>
            <mat-card-content>
                <p>
                    Lesiones, contracturas, sobrecargas… todas ellas muy frecuentes en la vida deportiva. Por eso
                    contamos
                    con Sara, nuestra fisio. Consideramos muy importante la función de la fisioterapia y por ello
                    queremos
                    que todo nuestro alumnado cuente con este servicio.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-card class="col-sm-10 col-md-5 col-lg-3 p-2 m-2">
            <mat-card-header>
                <div mat-card-avatar class="cris-header-image"></div>
                <mat-card-title>Cristian Cano</mat-card-title>
                <mat-card-subtitle>Tesorero</mat-card-subtitle>
            </mat-card-header>
            <div class="flip-box">
                <div class="flip-box-inner mx-auto">
                    <div class="flip-box-front">
                        <img width="100%" src="./../../../assets/img/insta-size-cris.JPG">
                    </div>
                    <div class="flip-box-back">
                        <img width="100%" src="./../../../assets/img/CRIS_avatar.png">
                    </div>
                </div>
            </div>
            <mat-card-content>
                <p>
                    Cristian se encarga de una de las partes más complicadas de nuestra escuela: la gestión financiera. Para
                    que
                    todo funcione bien a nivel interno es primordial contar con una persona cualificada en todo lo que
                    compete a la contabilidad y Cristian es la persona idónea.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>


        <!-- <div class="col" [routerLink]="['/team/miriam']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/MIRI_avatar.png" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/mireia']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/MIRE_avatar.png" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/sara']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/SARA_avatar.png" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/cristiam']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/CRIS_avatar.png" alt="Miriam Fatmi">
    </div> -->
    </div>
    <div class="container text-light text-justify">
        <h4>¿Por qué elegirnos a nosotros?</h4>
        <p>
            Onskates está formado a partir de pasión por el deporte y el patinaje en todas sus disciplinas. Nuestro
            objetivo
            es enseñar, mejorar el equilibrio y sobre todo disfrutar con cada una de las sesiones. Para nosotros ser un
            buen
            profesor no es el que sabe enseñar a patinar si no el que sabe transmitir la pasión por los patines. Nuestra
            finalidad es aprovechar las clases de forma que aprendan divirtiéndose.
        </p>
        <p>
            Somos un club federado por la comunidad de Madrid y contamos con monitores y entrenadores formados y
            cualificados
            con más de 6 años de experiencia tanto en adultos como en niños, además de competidoras nacionales e
            internacionales.
        </p>
        <p>
            A parte del patinaje fomentamos el compañerismo, realizando eventos, viajando, y compartiendo momentos en
            los
            que
            podamos disfrutar de forma lúdica y segura.
        </p>
    </div>
</div>