<div class="container text-light">
    <p>¡Hola! Si estás leyendo esto es porque quieres saber un poquito más sobre nosotros… ¡Vamos a ello!</p>
    <p>Somos Miriam, Mireia, Cristian y Sara, el equipo directivo de ONSKATES. Desde hace muchos años, Mire y Miri
        tenían un
        sueño por cumplir; crear una escuela de patinaje. Lo que no sabían es en qué momento se pondría todo en marcha.
    </p>
    <p>Justo en Octubre del 2018 empezó nuestro proyecto, nuestro pequeño y a la vez gran proyecto. Al principio
        cambiamos
        mil veces de nombre y teníamos tantos logos que nos salían casi por las orejas. Eso sí, tenemos que decir que el
        flamenco siempre estuvo ahí. No sabíamos muy bien por donde empezar, pero teníamos tantas ganas que movimos
        tierra y
        aire para hacerlo todo bien desde el principio. Gracias al apoyo incondicional recibido por parte de Cristian y
        Sara
        el sueño de estas dos patinadoras se empezó a cumplir.
    </p>
    <p>Después de mucho papeleo, muchas llamadas, reuniones… esto ha arrancado. Nosotros seguimos trabajando y
        dejándonos la
        piel para que nuestra escuela crezca. Queremos darles a nuestros alumnos y alumnas y deportistas de competición
        lo
        que se merecen y trabajaremos día a día para conseguirlo.
    </p>

    <p>Seguramente os preguntaréis por qué un flamenco. A Miri y a Mire les gustan mucho estos animalillos, y a Sari y a
        Cris les pareció buena idea. No obstante, tenemos que decir que estos animales son super sociales y llegan a
        formar
        colonias de miles de individuos. Además de esto, pensamos que el hecho de tener una mascota es divertido y, a su
        vez, hace que aflore un bonito sentimiento de pertenencia al club. Por tanto… debido a lo que representan en
        cuanto
        a valores, lo bonitos que son y lo divertido que es tener una mascota en la escuela, el flamenco fue el elegido.
    </p>
</div>
<div class="row px-3">
    <div class="col" [routerLink]="['/team/miriam']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/miriam.jpg" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/mireia']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/mireia.jpg" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/sara']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/mireia.jpg" alt="Miriam Fatmi">
    </div>
    <div class="col" [routerLink]="['/team/cristiam']">
        <img class="w-100 rounded border animated" src="./../../../assets/img/cristiam.jpg" alt="Miriam Fatmi">
    </div>
</div>
<router-outlet></router-outlet>