<section class="col p-3">
    <div class="rounded border p-3 bg-white h-100">

        <h3>Mireia Bañuls </h3>
        <div>
            <p>
                Mire compite a nivel nacional e internacional en freestyle, pero además, compite en Show, una de las
                disciplinas del patinaje artístico. Cabe destacar que este año ha batido el récord de España de la
                modalidad
                de Speed slalom con un tiempo de 5,057 segundos.
            </p>
            <ul class="no-deco">
                <li>Actual Campeona de España de Speed Slalom
                </li>
                <li> 3a españa 2017 classic </li>
                <li> 3a España 2018 Classic </li>
                <li> 3a españa 2017 battle </li>
                <li> 3a españa speed 2017 </li>
            </ul>
            <ul class="no-deco">
                <li> Entrenadora nacional de Freestyle Slalom </li>
                <li> Jueza Nacional de Freestyle Slalom </li>
                <li> Cursando enfermería en la UAM </li>
                <li> Título de Personal Trainer por ALBE FORMACIÓN </li>
                <li> Monitora de Ocio y Tiempo libre </li>
            </ul>
        </div>
    </div>
</section>