@import "../../assets/styles/colors.scss";
:host {
  position: relative;
  margin-top: 60px;
}

body, html {
    height: 100%;
  }
.shadow-header {
  height: 60px;
  width: 100vw;
}
canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
.no-dots {
  z-index: 1;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.main{
    background-image: url('../../assets/img/foto_grupo.jpg');
    height: 100vh; 
  }
}

.background-1 {
  background-image: url('../../assets/img/fondo-1.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-2 {
  background-image: url('../../assets/img/fondo-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-3 {
  background-image: url('../../assets/img/fondo-4.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.first{
  background-image: url('../../assets/img/seaside.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second{
  background-image: url('../../assets/img/speed.jpg');
  background-position: 0px -550px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: justify;
}
.third{
  background-image: url('../../assets/img/activity-fun-hipster-1994.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.all-bg {
  background-image: linear-gradient(#f8f9fa00, #6ec9d552),url(../../assets/img/foto_grupo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 3px black;
  color: white;
  height: 500px;
}
  .forth{
    background-image: url('../../assets/img/active-activity-balance-2566123.jpg');
  }
  .fifth{
    background-image: url('../../assets/img/action-adult-balance-211376.jpg');
  }
  .sixth{
    background-image: url('../../assets/img/active-activity-balance-2566123.jpg');
  }
  .elegant-row {
    position: relative;
    background-color: #fff;
    .elegant-text {
      font-weight: 100;
      color: black;
    }
  }
  .modality-button{
    background-color: #6ec9d5;
  }
.text-shadow {
  color: #fff;
  text-shadow: 2px 2px 3px black;
}
.carrousel {
  .carrousel-card {
    background-color: #fff;
    border: solid 1px $color-primary;
    height: 100%;
  }
  .carousel-indicators li {
    background-color: $color-primary !important;
  }
  .control-element{
    cursor: pointer;
    &.active {
    background-color: #fff;
    border-radius: 5px;

  }
  }
  
  ngb-carousel {
    margin-top: -5px;
    background-color: #fff;
    outline: none;
  }
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}