<div class="parallax main">
  <div class="row pt-5">
    <div class="col-4 mx-auto"><img class="w-100" src="../assets/img/main_logo.png"></div>
    <p class="container p-5 text-white">
      Escuela de patinaje especializada en varias disciplinas. Nos adaptamos a todos los niveles y edades,
      además de trabajar en diversas zonas dentro de la comunidad de Madrid. Buscamos que nuestros alumnos y alumnas
      adquieran las mejores técnicas a través de metodologías dinámicas y adaptadas, disfrutando de cada una de las
      sesiones.
    </p>
  </div>
</div>
<section class=" row no-gutters py-4">
  <h2>Misión</h2>
  <p class="col-6">
    Nuestra misión como escuela es potenciar el patinaje en Madrid a partir de metodologías excepcionales atendiendo
    a todos los niveles y a un gran abanico de disciplinas. Buscamos ser la escuela elegida por todo aquel que quiera
    aprender a patinar o mejorar sus habilidades sobre ruedas. Lo que más nos interesa es que nuestro alumnado se
    divierta aprendiendo de un modo seguro.
  </p>
</section>
<section class="text-white parallax first row no-gutters py-4">
  <h2>Visión</h2>
  <p class="col-6">
    En ONSKATES tenemos una amplia visión de futuro de cara a llevar a cabo nuevos y grandes proyectos.
    Queremos que esto sea muy grande, tanto a nivel autonómico como a nivel nacional y para ello contamos con los mejores
    profesionales, los cuales se están formando permanentemente para conseguirlo.</p>
</section>
<section class="row no-gutters py-4 parallax second">
  <h2>Valores</h2>
  <p class="col-6">
    En nuestra escuela prevalecen el compromiso y la pasión por nuestro trabajo. Consideramos que estos valores son
    primordiales para la comodidad absoluta de nuestro alumnado y para el crecimiento de ON SKATES. Además, la calidad
    de nuestras clases, la igualdad entre el alumnado y cercanía de nuestro equipo son los pilares de la escuela.
    Finalmente, y no por tanto menos importante, La constancia y la perseverancia van siempre de la mano,
    recuerda que con ellas conseguirás siempre todo lo que te propongas.
  </p>
</section>
