<div class="shadow-header"></div>
<article class="">
  <div class="main">
    <div class="row no-gutters pt-5 all-bg">
      <div class="col-4 mx-auto">
        <h1 class="text-center">OnSkates</h1>
      </div>
      <h5 class="container p-5 text-justify">
        Escuela de patinaje especializada en varias disciplinas. Nos adaptamos a todos los niveles y edades,
        además de trabajar en diversas zonas dentro de la comunidad de Madrid. Buscamos que nuestros alumnos y alumnas
        adquieran las mejores técnicas a través de metodologías dinámicas y adaptadas, disfrutando de cada una de las
        sesiones.
      </h5>
    </div>
  </div>
  <div class="row elegant-row no-gutters py-5 text-center">
    <canvas class="background-elegant"></canvas>
    <div class="col-sm-12 col-md-4">
      <h1 class="elegant-text my-auto">6 <br><span>Modalidades</span></h1>
    </div>
    <div class="col-sm-12 col-md-4">
      <h1 class="elegant-text my-auto">5 <br><span>Ubicaciones</span></h1>
    </div>
    <div class="col-sm-12 col-md-4">
      <h1 class="elegant-text my-auto">3 <br><span>Niveles</span></h1>
    </div>
  </div>
  <section class="container carrousel mt-5">
    <div class="d-flex justify-content-around">
      <h2 class="control-element mb-0 p-3" (click)="select('slide0')" [ngClass]="{'active': currentSlide=== 'slide0'}">
        Misión</h2>
      <h2 class="control-element mb-0 p-3" (click)="select('slide1')" [ngClass]="{'active': currentSlide=== 'slide1'}">
        Visión</h2>
      <h2 class="control-element mb-0 p-3" (click)="select('slide2')" [ngClass]="{'active': currentSlide=== 'slide2'}">
        Valores</h2>
    </div>
    <ngb-carousel [showNavigationIndicators]="false" [interval]=0 class="p-3" (slide)="onSlide($event)" #carousel>
      <div class="row no-gutters">
          <ng-template id="slide0" ngbSlide>
              <div class="carrousel-card text-justify text-shadow background-1 p-4">
                <p class="">
                  Nuestra misión como escuela es potenciar el patinaje en Madrid a partir de metodologías excepcionales
                  atendiendo a todos los niveles y a un gran abanico de disciplinas. Buscamos ser la escuela elegida por todo
                  aquel que quiera aprender a patinar o mejorar sus habilidades sobre ruedas. Lo que más nos interesa es que
                  nuestro alumnado se divierta aprendiendo de un modo seguro.
                </p>
              </div>
      
            </ng-template>
            <ng-template id="slide1" ngbSlide>
              <div class="carrousel-card text-justify text-shadow background-2 p-4">
                <p class="">
                  En ONSKATES tenemos una amplia visión de futuro de cara a llevar a cabo nuevos y grandes proyectos. Queremos
                  que esto sea muy grande, tanto a nivel autonómico como a nivel nacional y para ello contamos con los mejores
                  profesionales, los cuales se están formando permanentemente para conseguirlo.</p>
              </div>
      
            </ng-template>
            <ng-template id="slide2" ngbSlide>
              <div class="carrousel-card text-justify text-shadow background-3 p-4">
                <p class="">
                  En nuestra escuela prevalecen el compromiso y la pasión por nuestro trabajo. Consideramos que estos valores
                  son primordiales para la comodidad absoluta de nuestro alumnado y para el crecimiento de ON SKATES. Además,
                  la calidad de nuestras clases, la igualdad entre el alumnado y cercanía de nuestro equipo son los pilares de
                  la escuela. Finalmente, y no por tanto menos importante, La constancia y la perseverancia van siempre de la
                  mano, recuerda que con ellas conseguirás siempre todo lo que te propongas.
                </p>
              </div>
      
            </ng-template>
      </div>
      
    </ngb-carousel>
  </section>
</article>
<article class="parallax third mt-4">
  <div class="container">
    <h2 id="categories" class="text-shadow pt-3">Modalidades:</h2>
    <p class="text-shadow text-justify">
      Dentro de nuestra escuela vas a poder disfrutar de una gran variedad de modalidades. A continuación te contamos en
      qué consiste cada una de ellas para facilitar tu elección.
    </p>
    <div class="row no-gutters text-justify">
      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Patinaje de iniciación:</h4>
          <p class="card-body">En estas sesiones aprenderás las técnicas básicas del patinaje. Si quieres empezar a
            patinar, esta es la mejor opción para tí. Adquirirás todas las habilidades necesarias para desplazarte con
            tus patines de una forma segura y efectiva.</p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(0, 'Escuela')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>

      </div>

      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Skateboard:</h4>
          <p class="card-body">¿Que hay mas divertido y relajante que aprender a moverse sobre una tabla de Skate?
            Disciplina que junta aspectos técnicos y urbanos dentro de una pista llena rampas y ondulaciones.</p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(5, 'Skateboard')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>
      </div>

    </div>
    <div class="row no-gutters text-justify">
      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Inline freestyle:</h4>
          <p class="card-body">Esta es una de nuestras especialidades estrella. El inline freestyle consiste en
            la realización de diferentes figuras en pequeños conos. Es una modalidad muy técnica y perfecta si lo que
            quieres es pasar un buen rato y superarte a ti mismo. Es importante que sepas que entre los beneficios del slalom
            encontramos la mejora de tus habilidades generales en el patinaje.</p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(2, 'Slalom')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Patinaje Artístico:</h4>
          <p class="card-body">Elegancia, finura, piruetas… Todos estos aspectos se trabajan con el patinaje artístico.
            Esta modalidad se suele realizar con ruedas quads (2 ruedas en paralelo), pero también hay patines de
            artístico en línea, así que… ¡no hay excusa! Impartimos sesiones de nivel básico en las cuales aprenderás
            las principales técnicas de esta disciplina.
          </p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(3, 'Artístico')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
    <div class="row no-gutters text-justify">

      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Rollerobics:</h4>
          <p class="card-body">¡Es la novedad de nuestra escuela! Si quieres ponerte en forma de un modo totalmente
            alternativo, los rollerobics son para tí. Esta modalidad consiste en la realización de ejercicios fitness
            sobre ruedas. Nació en Barcelona de la mano de Judith Abarca, una gran profesional a nivel deportivo. Lo
            bueno de esta opción es que se adapta a todos los niveles, así que… ¡no tienes de qué preocuparte!. Además,
            tienes la opción de elegir una clase de 45 minutos de nociones básicas de patinaje por solo ¡5 euros! Dicha
            clase será siempre antes de la sesión de rollerobics.</p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(4, 'Rollerobics')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 p-3">
        <div class="container-fluid h-100 card p-3">
          <h4 class="card-title">Patinaje urbano:</h4>
          <p class="card-body">
            Si lo tuyo es ir de ruta, las sesiones de patinaje urbano te van a encantar. Contamos con diferentes niveles
            dentro de esta modalidad y gracias a nuestras metodologías excepcionales adquirirás todo lo necesario para
            darle vida a tu patinaje callejero. En estas clases destacan las rutas y los obstáculos.</p>
          <mat-card-actions class="d-flex justify-content-around">
            <button mat-raised-button class="modality-button"
              (click)="openModalityDetail(1, 'Urbano')">Tarifas/Horarios</button>
          </mat-card-actions>
        </div>

      </div>
      <h4 class="text-shadow">
        Además, si lo que te interesan son las clases particulares, solo tienes que contactar con nosotros vía whatsapp
        o vía mail.
      </h4>
    </div>
  </div>
</article>
<app-team></app-team>
<app-floating-button></app-floating-button>